# 교양 파이썬 프로그래밍_6주차

- 5주차 내용 복습

#실습1
1. [홍길동, 허난설현,허균]인 과에 이황이 편입을 했다. 이황을 리스트에 추가하라.
2. 허균을 허균 뒤에 추가하라
3. 허균이 몇 명인지 명령어를 써서 구해보아라
4. 홍길동을 삭제하라
5. 현재 리스트에서 두 번째 학생일 자퇴를 하였다. 두 번째 학생을 삭제하라.
6. 현재 출석부를 내림차순으로 정렬하라.

In [4]:
students = ['홍길동', '허난설현','허균']
students.append('이황')
print(students)

['홍길동', '허난설현', '허균', '이황']

In [5]:
students.insert(3,'허균')
print(students)

['홍길동', '허난설현', '허균', '허균', '이황']

In [7]:
students.count('허균')

2

In [8]:
students.remove('홍길동')
print(students)

['허난설현', '허균', '허균', '이황']

In [10]:
del students[1]
print(students)

['허난설현', '허균', '이황']

In [11]:
students.sort()
print(students)

['이황', '허균', '허난설현']

#실습2
- 학생 리스트에서 새 학생이 들어오면, 재정렬하여 이름순으로 번호와 출력하기

In [17]:
stu = ['이황','이이','원효']
print('현재학생은',stu)
come = str(input("전학 온 학생은 누구입니까?"))
stu.append(come)
print(stu)

i = 0
for i in range(i,len(stu),1):
    print((i+1),stu[i],'\n')
    
    
## stu는 상수고 i는 그냥 integer임. 같은 i로 동일하게 사용하면 안됨.
## for i in stu:
## b=b+1
## print(b,i)

현재학생은 ['이황', '이이', '원효']
전학 온 학생은 누구입니까?의상
['이황', '이이', '원효', '의상']
1 이황

2 이이

3 원효

4 의상

***

# 다양한 데이터 구조

** 튜플 (리스트와 유사)
- 값을 변경할 수 없음
- 아예 값을 넣어서 선언하는 문자열 변수 등
ex. text = "파이썬 문자열"
- syntax : 소괄호 사용 혹은 괄호 사용하지 않고 선언
- 단순하고 간결 : 성능 측면에서 장점
- 프로그램 내에서 절대로 변경하면 안 되는 데이터에 사용
- 반면 리스트는 동일한 자료 타입으로 이루어진 항목들을 리스트 내에서 순차적으로 추출할 때 사용

***
** 세트
- 중복 데이터를 허용하지 않음
***
** 딕셔너리
- 특정 key로 값을 불러올 수 있음
- key & value

## 튜플
- 사용 : 튜플 자르기 & 새로 만들기
- append, 원소만 바꾸기, 원소만 del 등등은 안됨.
- 단, del로 튜플 전체를 삭제하는건 가능

### 튜플의 선언 및 자르기 & 사용

In [1]:
card = 'red',4,'다이아몬드',True
card
##card[-1] = False라고 쓰면 에러
# 튜플 범위 [시작값 : 끝값 +1]

('red', 4, '다이아몬드', True)

In [2]:
card[2]

'다이아몬드'

In [3]:
card[:2]

('red', 4)

In [4]:
card[2:]

('다이아몬드', True)

In [5]:
card[:]

('red', 4, '다이아몬드', True)

***

In [27]:
tt1 = 10,20,30,40
#del(tt1)
tt1[0]+tt1[1]+tt1[2]

60

In [25]:
tt2 = ('A','B')
tt1+tt2

(10, 20, 30, 40, 'A', 'B')

In [26]:
tt2*3

('A', 'B', 'A', 'B', 'A', 'B')

***
- 비어있는 튜플 만들기

In [6]:
empty_tuple1=0
empty_tuple1

0

In [8]:
empty_tuple2=tuple()
empty_tuple2

()

- 항목이 하나 있는 경우

In [11]:
one=('하나')
print(type(one))

one_item = '하나'
print(type(one_item))

<class 'str'>
<class 'str'>

### 튜플 패킹과 언패킹

: 튜플을 생성하는 것 = 패킹

: 튜플을 변수에 할당하는 것 = 언패킹

In [13]:
card = 'red',4,'다이아몬드',True #패킹

#언패킹
a,b,c,d = card
a

'red'

***
### 튜플과 리스트 왔다갔다하기

#### 리스트로 형변환을 하면 됨.
- 리스트 -> 튜플도 마찬가지. 튜플로 형변환하면 됨.
- 튜플을 사용하다가 튜플 안의 값을 갑자기 바꿔야하는 일이 생길 때 사용

In [15]:
card_list = list(card)
type(card_list)

list

In [16]:
card_list

['red', 4, '다이아몬드', True]

In [18]:
card_tuple = tuple(card_list)
card_tuple

('red', 4, '다이아몬드', True)

## 세트

- 중복 허용하지 않음
- 중복 들어오면 무시
- 순서가 없음
- 얘는 중괄호{ }
- 튜플은 (), 리스트는 [], 세트는 { }

In [28]:
language = {'C++', 'python', 'C','C','C++'}
language
## 중복 삭제

{'C', 'C++', 'python'}

In [29]:
'python' in language #python이라는 것이 language 안에 있는지 확인할 때

True

In [30]:
'Matlab' in language

False

- 빈 세트 생성
: 왜 비어있는 것을 만드나?
    코드가 길어질 때 변수 확인을 위해. 변수 값이 어떻게 될지 모르니까 미리 빈 값으로 선언.

In [31]:
emset = {}
type(emset) #딕셔너리도 중괄호를 사용해서 파이썬은 이걸 세트가 아니라 딕션으로 인식함

dict

In [32]:
realset = set()
type(realset)

set

### 선언 및 사용

In [34]:
a = set('abracadabra')
b = set('alarm')
a

{'a', 'b', 'c', 'd', 'r'}

In [35]:
a-b

{'b', 'c', 'd'}

In [36]:
a|b

{'a', 'b', 'c', 'd', 'l', 'm', 'r'}

In [37]:
a^b

{'b', 'c', 'd', 'l', 'm'}

In [38]:
a&b

{'a', 'r'}

## 딕셔너리

- key & value
- 들어가는 값은 사용자 지정. 규정 없음.
- key가 색인값을 대신함
- 쌍 두 개가 하나로 묶임
- 전체 항목이 정렬되지 않음. 즉 순서 없음. 생성도 순서 없음.
- 변경 가능
- 다른 프로그래밍에서는 해시(Hash):자바 , 연관 배열(Associative Array) 등이라고 함.
- 특정 항목 삭제 : del
- 전체 항목 삭제 : clear()
- 데이터베이스나 엑셀 쓸 때 딕셔너리 많이 사용

In [39]:
# 동일한 key를 갖으면 마지막에 있는 key의 값이 적용
stud = {'학번':1000, '이름':'홍길동','학과':'전정공','학번':2000}
stud

{'학번': 2000, '이름': '홍길동', '학과': '전정공'}

In [40]:
## key가 색인값을 대신함!
stud['학과']

'전정공'

In [41]:
stud['학번']=2018
stud

{'학번': 2018, '이름': '홍길동', '학과': '전정공'}

In [42]:
##항목 추가
stud['학년'] = 3
stud

{'학번': 2018, '이름': '홍길동', '학과': '전정공', '학년': 3}

***

In [43]:
len(stud) #항목 갯수 확인

4

In [48]:
# 키 값을 확인하고 싶을 때
stud.keys()

dict_keys(['학번', '이름', '학과', '학년'])

In [47]:
list(stud.keys())

['학번', '이름', '학과', '학년']

In [49]:
# value 확인
stud.values()

dict_values([2018, '홍길동', '전정공', 3])

***

In [50]:
2018 in stud

False

In [51]:
'학번' in stud

True

In [52]:
2018 not in stud

True

***

In [54]:
prog = {'C++':7, 'python':3, 'java':2,'matlab':1}
del prog['java']
prog

{'C++': 7, 'python': 3, 'matlab': 1}

In [56]:
prog.clear()
prog

{}

In [57]:
# get : key로 호출하는건 없는것을 호출하면 오류 발생.
## 그러나 get은 없는 키를 호출하면 아무것도 반환하지 않음. 즉, 오류가 나지 않음.
## 오류는 심각한 문제

stud('학교')

TypeError: 'dict' object is not callable

In [58]:
stud.get('학교')

In [59]:
stud.get('학년')

3

In [60]:
## items()는 튜플 형태로
stud.items()

dict_items([('학번', 2018), ('이름', '홍길동'), ('학과', '전정공'), ('학년', 3)])

In [62]:
for i in stud.keys():
    print("%s-----> %s"%(i,stud[i]))

학번-----> 2018
이름-----> 홍길동
학과-----> 전정공
학년-----> 3

In [64]:
# 이 부분은 시험 X - 나중에
import operator
trainD, trainL = {},[]
trainD = {'thomas':'토마스','gothen':'고든','henry':'헨리','edward':'에드워드'}
trainL = sorted(trainD.items(),key=operator.itemgetter(0))
print(trainL)

[('edward', '에드워드'), ('gothen', '고든'), ('henry', '헨리'), ('thomas', '토마스')]